* {
    margin: 0px;
    padding: 0px;
    font-family: poppins-regular;
}

@font-face {
    font-family: poppins-regular;
    src: url(./poppins/Poppins-Regular.ttf);
}

/* header */
header {
    display: flex;
    padding: 15px;

    width: 100%;
    height: auto;
    background-color: rgb(84, 55, 36);
    position: fixed;
    gap: 60px;

    font-size: 30px;
    vertical-align: top;
    color: white;
}

header img {
    float: left;
}

header a {
    font-family: poppins-regular;
    font-size: 30px;
    vertical-align: top;
    color: white;
    text-decoration: none;
}
header a:visited {
    font-family: poppins-regular;
    font-size: 30px;
    vertical-align: top;
    color: white;
    text-decoration: none;
}

.emptyGap {
    background-color: white;
    color: white;
    font-size: 15px;
}

.headerHomeButton {
    position: relative;
    top: 20px;
}

/* Under the Header Home Page */
.mainFlex {
    display: flex;
    justify-content: space-evenly;
}

/* Footer */
footer {
    background-color: rgb(84, 55, 36);
    text-align: center;
    color: white;
}

/* OTHER */
body{
    background-color: bisque;
}